
extends layout

block content
	ul#navigationBar
		li.navigation
			a.active(href='/') Pinyin Club
		li.navigation
			a(href='http://www.peter-sia.top/pinyin', onclick="$('.active').removeClass('active');$(this).addClass('active');") User Guide
		li.navigation
			a(href='http://www.peter-sia.top', onclick="$('.active').removeClass('active');$(this).addClass('active');") Author


	include account
	include modals/alert

block scripts
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')